@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 9%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

nav .cart-icon {
  position: relative;
  font-size: 30px;
  color: #333;
  display: flex;
}

nav .cart-icon .cart-item-count {
  position: absolute;
  top: 0;
  right: 6px;
  width: 20px;
  height: 20px;
  background: #e35f26;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  display: none;
}

.product-collection {
  padding: 100px 9% 30px;
}

.product-collection h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.product-collection .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.product-collection .img-box {
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.product-collection .img-box img {
  width: 100%;
  transition: 0.5s;
}

.product-collection .img-box:hover img {
  transform: scale(1.1);
}

.product-collection .title {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.product-collection .price {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}
